.App{
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.TukiComponents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.TukiChild{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: pink;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

